extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main 
  if(role.permissions.includes("account_create"))
    +alert-success(3000)
    +alert-error(3000)
    h3(class='m-3')=pageTitle
    .row 
      .col-8 
        form(
          action=`${prefixAdmin}/accounts/create`
          method="POST"
          class='m-5'
          enctype="multipart/form-data"
        )
          label(for="fullName") Họ và tên *
          input(type="text" id="fullName" name="fullName" class='form-control')
          label(for="email") Nhập email *
          input(type="text" id="email" name="email" class='form-control')
          label(for="password") Nhập mật khẩu *
          input(type="password" id="password" name="password" class='form-control')
          label(for="avatar") Hình đại diện
          input(type = 'file' name="avatar" id='avatar' class='form-control-file' accept='image/*' input-upload-image)
          img(src="", alt="" img-preview class='img-thumbnail')
          br
          label(for="phone") Số điện thoại *
          input(type="text" id="phone" name="phone" class='form-control')
          label(for="role_id") Vai trò *
          select(name="role_id" class='form-control') 
            each role in roles
              option(value=role.id class='form-control')=role.title
          label(for="status") Trạng thái
          .form-check
            input#active.form-check-input(type='radio' name='status' value='active' checked)
            | Hoạt động
            label.form-check-label(for='active')
          .form-check
            input#inactive.form-check-input(type='radio' name='status' value='inactive')
            | Dừng hoạt động
            label.form-check-label(for='inactive')
          
          button(type="submit" class='btn btn-success mt-5') Tạo tài khoản
        
  script(src="/admin/js/product.js") 

    
    