extends ../../layouts/default.pug
include ../../mixins/box-head.pug
block main 
  .container
    .content-wrapper
      include ../../partials/list-btn-friend.pug
      .row.d-flex.justify-content-center
        .col-8
          +box-head(pageTitle)
          .card.border.border-success
            .card-body.friends
              each item in listUsers
                div(box-friend=item.id).d-flex.align-items-center.mb-4.gap-3.box-user
                  img(src=item.avatar || "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRewI4tonTOU-MiDbFkpGQ2MN_lMsLZCxSaBg&s" class="avatar-user")
                  div.d-flex.flex-column
                    div(class="user-fullname-status d-flex justify-content-between" status=item.statusOnline)
                      p=item.fullName
                      i(class="fa-solid fa-circle statusOnline")
                    div.d-flex.gap-3.group-btn-action
                      a(class="btn btn-success" btn-chat=item.id href=`/chat/${item.room_chat_id}`) Nhắn tin
                      button(class="btn btn-danger" btn-remove-friend=item.id) Hủy kết bạn
block script 
  script(src="/js/users.js") 