extends ../../layouts/default.pug
include ../../mixins/box-head.pug
block main 
  .container
    .content-wrapper
      include ../../partials/list-btn-friend.pug
      .row.d-flex.justify-content-center
        .col-8
          +box-head(pageTitle)
          .card.border.border-success
            div(class="infor-user" myId=user.id).card-body
              each item in listUsers
                div.d-flex.align-items-center.mb-4.gap-3.box-user
                  img(src=item.avatar || "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRewI4tonTOU-MiDbFkpGQ2MN_lMsLZCxSaBg&s" class="avatar-user")
                  div.d-flex.flex-column
                    p=item.fullName
                    div.d-flex.gap-3.group-btn-action
                      button(class="btn btn-warning" btn-add-friend=item.id) Kết bạn
                      button(class="btn btn-danger" btn-cancel-friend=item.id) Hủy
block script 
  script(src="/js/users.js") 